html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #111;
}

.showcase_title{
    visibility: none;
    display: none;
}

.showcase {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111;
    overflow: hidden;
}


.showcase video {
    width: 80%;
    height: auto;
    object-fit: contain;
}

.about_me {
  width: 100%;
  min-height: 110vh;       /* or remove this if not needed */
  display: flex;
  background-color: #111;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 6vh 0;          /* give it breathing room */
}

.description {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10vw;
  padding-bottom: 10vh;
}

#title {
  width: 100%;
  font-size: clamp(1rem, 4.3vw, 7rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about {
  width: 100%;
  font-size: clamp(.6rem, 1.2vw, 2rem);
  display: flex;
  justify-content: center;
  line-height: 1.7;
  text-align: center;
  margin-top: 3vh;
}


.owen_image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    object-fit: contain;
}

.owen_image img{
    width: 55%
}

.pictures{
    width: 100%;
    min-height: 110vh;
    display: flex;
    background-color: #3B3923;
    color: white;
    flex-direction: column;
    padding: 2vh 0;
}

#pictures-title{
    height: 20vh;
    display: flex;
    align-items: center;
    font-size: 2.5vw;
    width: 100%;
    padding-left: 17vw;
}

.slider-body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.slider-container{
    max-width: 64vw;
    width: 100%;
}

.slider-wrapper{
    position: relative;
}

.slider-wrapper .slide-button{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover{
    background: #444;
}

.slider-wrapper .slide-button#prev-slide {
    left: -10vw;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -10vw;
}

.slider-wrapper .image-list{
    display: grid;
    gap: 2vw;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 20vw;
    height: auto;
    object-fit: cover;
}

.slider-container .slider-scrollbar{
    height: 24px;
    width: 64vw;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-track:active{
    cursor: grabbing;
    height: 8px;
    top: -2px
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: 10px;
}

.contact
{
    min-height: 110vh;
    background-color: #111;
    display: flex;
    flex-direction: row;
}

.contact-container
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.contact-image
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw
}

.contact-image img{
    width: 40vw;
    height: auto;
}

.contact-description{
    display: flex;
    flex-direction: column;
    width: 40%;

}
#contact-container{
    height: 30%;
    width: 100%;
    font-size: 4.0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
    margin-top: 5vh;
}

#contact-info{
    width: 100%;
    font-size: 1.7vw;
    display: flex;
    line-height: 5;
    text-align: center;
    color: white;
    flex-direction: column;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    font-size: 1.3vw;
}

/*mobile version*/
@media only screen and (max-width: 600px) {
    .showcase {
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #111;
        overflow: hidden;
    }

    .showcase_title{
        display: block;
        position: absolute;
        top: 20vh;               /* distance from top of screen */
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 8vw;
        z-index: 2;
}

    .showcase video {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .about_me {
        width: 100%;
        min-height: 100vh;       /* or remove this if not needed */
        display: flex;
        background-color: #111;
        color: white;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 6vh 0;          /* give it breathing room */
    }

    .description {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
        padding-bottom: 0;
    }

    #title {
        width: 100%;
        font-size: clamp(1rem, 7vw, 7rem);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #about {
        width: 100%;
        font-size: clamp(.6rem, 3.3vw, 2rem);
        display: flex;
        justify-content: center;
        line-height: 1.7;
        text-align: center;
        margin-top: 3vh;
    }


    .owen_image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
        object-fit: contain;
        margin-top: 3vh;
    }

    .owen_image img{
        width: 45%
    }

    .pictures{
        width: 100%;
        min-height: 100vh;
        display: flex;
        background-color: #3B3923;
        color: white;
        flex-direction: column;
    }

    #pictures-title{
        height: 20vh;
        display: flex;
        align-items: center;
        font-size: clamp(2.0rem, 5vw, 3rem);
        width: 100%;
        padding-left: 11vw;
        margin-top: 10vh;
    }

    .slider-body{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
    }

    .slider-container{
        max-width: 80vw;
        width: 100%;
    }

    .slider-wrapper{
        position: relative;
    }

    .slider-wrapper .slide-button{
        /* position: absolute;
        top: 50%;
        height: 50px;
        width: 50px;
        color: #fff;
        border: none;
        outline: none;
        background: #000;
        font-size: 2.2rem;
        cursor: pointer;
        border-radius: 50%;
        transform: translateY(-50%); */
        display: none;
        visibility: hidden;
    } 

    .slider-wrapper .slide-button:hover{
        /* background: #444; */
        display: none;
    }

    .slider-wrapper .slide-button#prev-slide {
        left: -10vw;
        display: none;
    }

    .slider-wrapper .slide-button#next-slide {
        right: -10vw;
    }

    .slider-wrapper .image-list{
        display: grid;
        gap: 2vw;
        font-size: 0;
        margin-bottom: 30px;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
        grid-template-columns: repeat(10, 1fr);
    }

    .slider-wrapper .image-list::-webkit-scrollbar {
        display: none;
    }

    .slider-wrapper .image-list .image-item {
        width: 40vw;
        height: auto;
        object-fit: cover;
    }

    .slider-container .slider-scrollbar{
        height: 24px;
        width: 80vw;
        display: flex;
        align-items: center;
    }

    .slider-scrollbar .scrollbar-track{
        height: 2px;
        width: 100%;
        background: #ccc;
        position: relative;
        border-radius: 4px;
    }

    .slider-scrollbar:hover .scrollbar-track {
        height: 4px;
    }

    .slider-scrollbar .scrollbar-thumb{
        position: absolute;
        height: 100%;
        width: 20%;
        background: #000;
        border-radius: inherit;
        cursor: grab;
    }

    .slider-scrollbar .scrollbar-track:active{
        cursor: grabbing;
        height: 8px;
        top: -1px
    }

    .slider-scrollbar .scrollbar-thumb::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -1px;
        bottom: 1px;
    }
    .quote{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4vh;
        font-size: 3vw;
    }
    .contact{
        min-height: 100vh;
        background-color: #111;
        display: flex;
        flex-direction: column;
    }

    .contact-container
    {
        width: 100%;
        display: flex;
        color: white;
        font-size: 10vw;
    }

    .contact-image{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-top: 5vh;
    }

    .contact-image img{
        width: 80vw;
        height: auto;
    }

    .contact-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

    }
    #contact-container{
        height: 30%;
        width: 100%;
        font-size: 7vw;
        align-items: center;
        text-align: center;
        color:white;
        margin-top: 15vh;
    }

    #contact-info{
        height: 60%;
        width: 100%;
        font-size: 3.7vw;
        display: flex;
        line-height: 5;
        text-align: center;
        color: white;
        flex-direction: column;
        margin-top: 5vh;
    }

}